<html>
<head>
     <title> Pygal Charting Library by SotoLAB</title>
</head>
<body>
     <h2> Pygal Charting Library by SotoLAB</h2>
     <div>
		<table style="width:90%" >
		  <tr>
			<th><p>Bar Chart</p>
              <object type="image/svg+xml" data="{{image_url_0}}">
               Your browser does not support SVG
               </object>
			</th>
      <th><p>Last Name</p>
        <object type="image/svg+xml" data="{{image_url_1}}">
          Your browser does not support SVG
          </object>
      </th>
		  </tr>
		  <tr>
			<th><p>Jill Chart</p>
              <object type="image/svg+xml" data="{{image_url_1}}">
               Your browser does not support SVG
               </object>
      </th>
      <th><p>Smith</p>
        <object type="image/svg+xml" data="{{image_url_0}}">
          Your browser does not support SVG
          </object>
      </th>
		  </tr>
		</table>
     </div>
</body
</html>
